
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: radial-gradient(rgb(205, 235, 205), rgb(179, 227, 179), rgb(127, 232, 127));
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    width: 100%;
    height: 14vh;
    position: relative;
}

#main #nav #center {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1vw;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav #center h3 {
    font-family: "DELIRIUM NCV";
    font-size: 2vw;
    font-weight: 400;

}

#center .line {

    width: 7vw;
    height: 2px;
    background-color: rgb(69, 163, 90);
}

#maintext {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#maintext .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#maintext .row h4 {
    font-family: "DELIRIUM NCV";
    color: white;
    font-weight: 100;
    font-size: 1.7vw;
}

#maintext .row h4:nth-child(2) {
    color: rgb(19, 58, 19);
}

#maintext>h1 {
    font-size: 12vw;
    font-family: "DELIRIUM NCV";
    color: white;
    font-weight: 100;
    line-height: 10vw;
}

#main #one {
    position: absolute;
    width: 40vw;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#main #two {
    position: absolute;
    width: 20vw;
    top: 45%;
    right: -15%;
    transform: translate(-50%, 0%);

}

#main #three {
    position: absolute;
    width: 20vw;
    top: 45%;
    left: -10%;
    transform: translate(0%, -50%);

}

#main #bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 200px;
}

#bottom img {
    width: 60%;
}

#bottom #four {
    width: 20vw;
    color: white;
}

#bottom p {
    width: 80%;
    margin: 20px 0;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

#bottom button {
    padding: .8vw 1.3vw;
    border: none;
    outline: none;
    background-color: rgb(48, 82, 48);
    color: white;
    border-radius: 10%;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: .3vw;
    text-transform: uppercase;
}


@media(max-width: 500px) {
    #nav {
        height: 10vh;
    }

    #nav #center h3 {
        font-size: 7vw;
        font-weight: 100;
    }

    #maintext>h1 {
        font-size: 30vw;
        line-height: 28vw;
        white-space: nowrap;
    }

    #maintext .row h4 {
        font-size: 7vw;
    }

    #main #one {
        width: 95vw;
    }

    #main #bottom {
        width: 80%;
    }
}